.admin-question {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.admin-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  padding: 12px 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
